[2018-05-14 12:08] pushkarnk opened #1 "Too many open files error while running Kitura-NIO tests"
Can be worked around by setting ulimit -n to a sufficient high value. 65536 works well for the Kitura tests.

[2018-05-14 13:45] pushkarnk opened #2 "Bind errors while running Kitura and Kitura-NIO tests"
With SwiftNIO, Channel.close() calls close(socket) which moves the underlying socket to the TIMED_WAIT state. In this state, subsequent bind calls fail, until the socket moves out of the TIMED_WAIT state and is actually closed. Kitura tests fail frequently with this error. While using Kitura-net that uses BlueSocket, I can see a shutdown(socket) being issued before close(socket). That may be the r

[2018-05-19 14:00] pushkarnk opened #7 "LargePayloadTest fails with SwiftNIO 1.7.0"
`LargePayloadTests.testLargeGets` fails consistently with SwiftNIO 1.7.0 with:

[code]

[2018-05-19 14:02] pushkarnk opened #8 "RegressionTests.testServersCollidingOnPort fails with SwiftNIO 1.7.0"
Possibly a regression with SwiftNIO?

I've raised https://github.com/apple/swift-nio/issues/417

[2018-05-23 08:44] pushkarnk commented on #8
Re-enabled by https://github.com/IBM-Swift/Kitura-NIO/pull/12

https://github.com/apple/swift-nio/issues/417 has been fixed in 1.7.1

[2018-05-23 08:44] #8 closed

[2018-05-24 06:50] nethraravindran opened #14 "Add support for PKCS#12-formatted certificates"
SSL verification fails when we create `SSLConfig` with pfx certificates.
*Note*: Swift nio-ssl doesn't support PKCS#12-formatted certificates

[2018-05-25 09:04] pushkarnk commented on #7
This is an isolated recreate for the bug:

[code]

This crash happens very frequently after swift-no 1.7.0. It was extremely intermittent with 1.6.1.
Reported this issue to the Swift-NIO team via Slack!

[2018-05-28 08:22] pushkarnk opened #21 "testSimpleHTTPClient is flaky and buggy"
testSimpleHTTPClient does a GET to `http://www.ibm.com` and asserts that the HTTP status returned is `OK`. In reality, we sometimes seem to be getting a `movedTemporarily`, the reason for which is beyond the scope of this project. I have #20 raised for this.

There's another problem in the test case. The test makes the request but does not wait for `expectations` to be fulfilled. In the case of fa

[2018-05-30 02:32] pushkarnk opened #23 "ClientE2ETests failing with ioOnClosedChannel"
If IPv6 is disabled, the `IPv6Tests` are bound to fail. In addition to that, if the `ClientE2ETests` are run subsequently, most of them fail with `NIO.ChannelError.ioOnClosedChannel` or ` NIOOpenSSL.OpenSSLError.sslError`.

Please note the strict conditions for these failures to occur:
1. IPv6 is disabled
2. The IPv6Tests are run before the failing ClientE2ETests

[2018-05-30 02:35] pushkarnk commented on #23
To consistently repro the failures, the `XCTMain()` call in `LinuxTests.swift` must look like (along with having IPv6 disabled):
[code]

[2018-06-02 21:11] pushkarnk commented on #7
Fixed in swift-nio 1.8

[2018-06-02 21:11] #7 closed

[2018-06-05 13:35] pushkarnk opened #27 "Kitura tests that use SSL fail in Xcode"
Happens on the `kitura-nio` branch only. The error suggests we are trying to write on a closed channel:
`fatal error: 'try!' expression unexpectedly raised an error: NIO.ChannelError.ioOnClosedChannel`

We consistently fail on this line of code: https://github.com/IBM-Swift/Kitura-NIO/blob/master/Sources/KituraNIO/ClientRequest.swift#L392

[2018-06-05 17:13] pushkarnk commented on #27
The error is born here:
`discardBufferedWrites(reason: ChannelError.ioOnClosedChannel)`
[code]

[2018-06-05 19:17] pushkarnk commented on #27
I can confirm that this is a duplicate of #14 Closing

[2018-06-05 19:17] #27 closed

[2018-06-05 21:28] pushkarnk commented on #14
https://github.com/apple/swift-nio-ssl/issues/17

[2018-06-19 05:48] pushkarnk commented on #1
`ulimit -n 65536` helps work around this issue.

[2018-06-26 06:31] pushkarnk commented on #23
I've been able to isolate this into a standalone repro:

[code]

[2018-06-26 06:41] pushkarnk commented on #23
The strict conditions for failure:
1. The first test tries to bind a server to ::1 and fails because the underlying OS doesn't support IPv6
2. The second test uses IPv4 and SSL is enabled

[2018-06-28 07:16] pushkarnk commented on #23
In the first IPv6 test, we try to bind to both `127.0.0.1` and `::1`. When the second bind fails, the first socket channel stays alive for a while. Meanwhile, the second test kicks in and we have another server binding to `127.0.0.1` and the *same port*. Thanks to  the use`REUSEPORT` 😡. The client in the second test actually connects to the server from the first test and confusion is the consequen

[2018-06-28 07:16] #23 closed

[2018-06-28 09:11] pushkarnk commented on #1
Happens only in environments where the open file limit is as low as 1024. Closing.

[2018-06-28 09:11] #1 closed

[2018-06-28 09:11] pushkarnk commented on #2
We should try using a ephemeral ports for all the tests.

[2018-07-30 06:36] pushkarnk opened #55 "Test LifecycleListenerTests.testLifecycle is flaky"
This failure shows up once in a while:
[code]

[2018-08-06 08:45] nethraravindran commented on #14
PR: https://github.com/IBM-Swift/Kitura-NIO/pull/58

[2018-08-07 07:34] nethraravindran opened #59 "testRedirect in Kitura fails with latest Kitura-NIO"

[2018-08-08 05:49] pushkarnk commented on #59
Looks like a regression caused by #54

[2018-08-08 05:49] pushkarnk commented on #59
@saiHemak

[2018-08-08 05:50] pushkarnk commented on #14
Thanks for your work on this, @nethraravindran !

[2018-08-08 05:50] #14 closed

[2018-08-08 06:26] saiHemak commented on #59
@pushkarnk  Sure will look in to it

[2018-08-08 18:00] saiHemak commented on #59
@pushkarnk / @nethraravindran I tried to recreate the issue by following these steps :
1. Cloned the Kitura repository and checked out kitura-2.4-nio
2.Ran TestResponse.testRedirect and it failed with/without fix

[2018-08-10 11:00] saiHemak commented on #59
The test case  is pointing to ibm.com site which started behaving differently due to which the body length is 0. The dependency to the external URL has been removed in Kitura Tests and after rebasing the problem is no longer seen with Kitura-NIO too

[2018-08-10 11:00] #59 closed

[2018-08-13 04:21] nethraravindran opened #62 "Linker error in libz on Ubuntu 16.04"
[code]

`swift test -Xlinker -lz` is used as a temporary work-around for the above issue.

[2018-08-13 06:30] pushkarnk commented on #62
@nethraravindran Does this happen on both 14.04 and 16.04?

[2018-08-16 07:00] nethraravindran opened #63 "ThinkTime test route /think/async fails with KituraNIO"
ThinkTime test with the route `/think/async` crashes in Kitura-NIO.

The crash is because the thread that initiated the I/O task is not the same thread that performs the I/O operation.  ie, the current thread that tries to perform the operation is not as the same thread that was tied with EventLoop.

Hence we must ensure that we perform the I/O task on the same thread or we submit the task to be e

[2018-08-16 07:03] nethraravindran commented on #63
PR : https://github.com/IBM-Swift/Kitura-NIO/pull/64

[2018-08-16 08:14] nethraravindran commented on #62
@pushkarnk No, this doesn't happen on 14.04

[2018-08-16 08:43] pushkarnk commented on #63
@nethraravindran Can you provide a description of the bug please?

[2018-08-16 18:26] weissi opened #66 "KituraNIO's ClientRequest.end calls wait and may be called from an EventLoop"
In SwiftNIO we [improved the wait-on-EventLoop detection](https://github.com/apple/swift-nio/pull/553) to now catch many more of those issues. In fact it hits one in KituraNIO itself

### Steps to reproduce

[code]

tests that repro this issue:
- testRedirect
- testDataIsNotCorrupted
- testFileServer
- testRangeRequestWithIfRangeHeaderAsLastModified
- ...

### Expected behavior

runs cleanly

###

[2018-08-16 18:35] weissi opened #67 "Kitura tests on kitura-nio branch leak the MultiThreadedEventLoopGroup threads"
This might really be a kitura issue but it probably also happens here: Kitura tests on kitura-nio branch leak the MultiThreadedEventLoopGroup threads, basically the `MultiThreadedEventLoopGroup` that are created in the tests are never torn down, ie. the threads are still kept alive.

Essentially it's the [same issue that Vapor has too](https://github.com/vapor/vapor/issues/1778)

[`MultiThreadedEv

[2018-08-17 09:46] ianpartridge commented on #66
Thanks @weissi this is timely as we were just discussing Kitura-NIO's use of the EventLoop yesterday. Currently when we have finished reading the request we [call out to Kitura's router](https://github.com/IBM-Swift/Kitura-NIO/blob/421daba62a2f0e8fea4e033199299cbb61c3624b/Sources/KituraNIO/HTTP/HTTPHandler.swift#L73) still on the event loop. Of course, we have no control over what the user might d

[2018-08-17 10:48] weissi commented on #66
@ianpartridge why aren't you just calling out to a `DispatchQueue` for the time being? Going back on the `EventLoop` is super easy, just call `channel.write` instead of `ctx.write`. All `Channel` methods are thread-safe and automatically forward to the appropriate (which in the case of `write` is the last one, as it's outbound) `ChannelHandler` in the `ChannelPipeline` on the associated `EventLoop

[2018-08-17 10:51] weissi commented on #66
@ianpartridge going forward, I see three options:

1) make Kitura fully non-blocking, ie. make it an error for users to ever block. Then you don't need to call out (hard, because it breaks the world. Just like the Vapor 2 -> 3 transition)
2) leave Kitura as is and always call out and back in
3) leave Kitura as is but make it possible to have special routes where the user can opt-in to be called on

[2018-08-17 11:06] ianpartridge commented on #66
Thanks @weissi we came to the same conclusions as you 😀

[2018-08-18 08:25] pushkarnk commented on #63
#64 merged. Thanks @nethraravindran

[2018-08-18 08:25] #63 closed

[2018-08-20 08:37] nethraravindran commented on #67
@pushkarnk I guess we are already doing that https://github.com/IBM-Swift/Kitura-NIO/blob/106677541e0bcd13c3a631db15427e1e8c614235/Sources/KituraNet/HTTP/HTTPServer.swift#L222 here.

[2018-08-20 09:26] pushkarnk commented on #62
A found a handful of projects/forums in which this problem was discussed:

https://elixirforum.com/t/ubuntu-exec-erlexec-not-found/10499/6
https://github.com/arybczak/ncmpcpp/issues/138
https://github.com/TrinityCore/TrinityCore/issues/19074
https://github.com/grpc/grpc/issues/11768

All of them talk about solving the problem using `-lz` but there's no drill-down into why this problem didn't show

[2018-08-20 10:02] ianpartridge commented on #62
Does the linking still fail if we add `CNIOZlib` to the dependencies of the [KituraNet target](https://github.com/IBM-Swift/Kitura-NIO/blob/821f3862042543efd8c0f3015fec020d11c52527/Package.swift#L41)?

[2018-08-20 10:39] weissi commented on #67
@pushkarnk/@nethraravindran I think it might be the one from `ClientRequest`.

[2018-08-20 10:52] nethraravindran commented on #67
@weissi Thank you for your input. Yes it is from `ClientRequest`.  Now, with `syncShutdownGracefully` in ClientRequest I see a very minimal leak :)

[2018-08-20 12:54] weissi opened #75 "test failures"
I ran the following configuration (all git hashes)

[code]

my system is macOS 10.14 pre-release

I ran the unit tests and got a few test failures and eventually a crash. When I re-ran the tests I still got the failures but not the crash anymore.

[code]

and

[code]

and

[code]

the full output was

[code]

Actually, the failures don't seem to be intermittent. That's a second run

[code]

[2018-08-21 06:46] nethraravindran commented on #67
PR https://github.com/IBM-Swift/Kitura-NIO/pull/76

@weissi  Thanks! With this fix, I see no leak :)

[2018-08-21 08:36] weissi commented on #67
awesome, thanks 👍. I'm going to close this

[2018-08-21 08:36] #67 closed

[2018-08-21 08:39] weissi commented on #2
@pushkarnk setting

      .serverChannelOption(ChannelOptions.socket(SocketOptionLevel(SOL_SOCKET), SO_REUSEADDR), value: 1)

should fix that. I reckon KituraNet just sets that automatically whilst NIO wants the user to specify it explicity.

[2018-08-21 08:45] weissi commented on #62
That sounds to me like either `zlib` or `pkg-config` isn't installed. You can test this by running

    pkg-config --libs zlib

which should output

    -lz

Or (on Debian systems) you should be able to see if zlib is installed with development headers like this

    dpkg -l zlib1g-dev

[2018-08-21 09:15] pushkarnk commented on #62
And I can see that the `trusty` images (Ubuntu 14.04) have `pkg-config` pre-installed.

[2018-08-21 09:19] pushkarnk commented on #62
@nethraravindran Can we try adding `pkg-config` to the `apt-get install .... ` list in [build.sh](
https://github.com/IBM-Swift/Kitura-NIO/blob/master/build.sh)

[2018-08-21 10:11] nethraravindran commented on #62
@pushkarnk Sure! Have created the PR :[https://github.com/IBM-Swift/Kitura-NIO/pull/77](url)

[2018-08-21 11:26] nethraravindran commented on #62
PR merged. Closing this issue.

[2018-08-21 11:26] #62 closed

[2018-08-23 14:16] ianpartridge commented on #2
@pushkarnk ^ did you see this?

[2018-08-24 09:50] pushkarnk commented on #2
@ianpartridge Yes, we tried `SO_REUSEADDR` in the past and it doesn't solve this problem.

@weissi I remember discussing this issue with you over Slack back in May. `SO_REUSEADDR` wasn't helping us and you suggested we try `SO_REUSEPORT`.

[2018-08-24 09:54] pushkarnk commented on #2
@weissi Now I recall it better, we needed `SO_REUSEPORT` for a particular test called `testServersSharingPort`. Looks like `SO_REUSEADDR` is enough for this issue.

[2018-08-24 10:01] weissi commented on #2
@pushkarnk yes, `testServersSharingPort` sounds like two servers bind on the same port which would be `SO_REUSEPORT` (and a new enough Linux version)

[2018-08-24 10:54] weissi commented on #2
in any case, I'd recommend `SO_REUSEADDR` for all tests and `SO_REUSEPORT` for the ones where you actually need to have two (or more) servers bind to _the same port at the same time_.

[2018-08-27 18:04] pushkarnk commented on #2
@weiss This is the gist of the problem we're facing using both `SO_REUSEADDR` and `SO_REUSEPORT`

Consider this NIO program (note the commented line of code):
[code]

Run the above program. You should see no error.

Now, remove the comment and include that line of code:
[code]

Wait until `netstat -antup` does NOT show an entry for `127.0.0.0:8080`.

Compile and run the second program. This crashe

[2018-08-28 10:44] nethraravindran commented on #2
@pushkarnk @saiHemak setting `SO_REUSEPORT` as the first resolves the issue.

[code]

[2018-08-28 11:38] weissi commented on #2
thanks @pushkarnk you uncovered an ~~amazing~~ embarrassing NIO bug: We currently only store one socket option value per _type_. Ie. only one of `ChannelOptions.socket`. So setting `SO_REUSEADDR` will unset all other `ChannelOptions.socket(*)` that were set before... Working on a fix, have a failing test already.

[2018-08-28 11:47] nethraravindran commented on #2
@saiHemak ^

[2018-08-28 12:50] weissi commented on #2
I'm working on https://github.com/apple/swift-nio/pull/597 to fix it and will release in 1.9.3

[2018-08-28 17:32] pushkarnk commented on #66
Fixed by #78 and #79

Thank you @weissi and @ianpartridge !

[2018-08-28 17:33] pushkarnk commented on #21
This hasn't failed for a long time now. Closing the issue for now. Will reopen if the issue resurfaces.

[2018-08-28 17:33] #21 closed

[2018-08-28 18:56] pushkarnk commented on #21
Oh, btw, this is a pull request to use an expectation in this test case
https://github.com/IBM-Swift/Kitura-NIO/pull/80

[2018-08-28 19:26] pushkarnk opened #81 "RegressionTests.testBadRequestFollowingGoodRequest fails with #78"
With the router invocation moved to a DispatchQueue as in #78 we see a new failure in `RegressionTests.testBadRequestFollowingGoodRequest`. A work-around for this failure was included in #78.

Initially, with the changes for #78, the test first started failing with a precondition failure at [HTTPServerPipelineHandler.swift, line 108](https://github.com/apple/swift-nio/blob/master/Sources/NIOHTTP1/

[2018-08-28 19:28] pushkarnk commented on #81
@weissi Can you please suggest how I could proceed debugging this failure? I have run out of diagnostic options.

[2018-08-29 10:01] weissi commented on #81
@pushkarnk I just ran that test case about 100 times on top of this (https://github.com/apple/swift-nio/pull/597) branch and it didn't fail a single time. Is this fixed with that NIO PR?

[2018-08-29 11:01] pushkarnk commented on #81
Based on some inputs from @weissi I added the `channelInactive` and `errorCaught` callbacks to the `PrintEverythingHandler`s and this is the output from the two kinds of failures I see:

** Failure kind 1 **
[code]

** Failure type 2 **
[code]

** Passing run **
[code]

[2018-08-29 11:12] weissi commented on #81
right, so the channel gets shut down on parser error. That happens because [of this](https://github.com/apple/swift-nio/blob/master/Sources/NIOHTTP1/HTTPDecoder.swift#L606). Which just shuts the connection immediately but the `HTTPServerProtocolErrorHandler` hasn't even received that request yet as it might be pipelined.

In other words: If you pipeline an HTTP request that doesn't even parse, the

[2018-08-29 14:49] weissi commented on #81
@ianpartridge it's only about parser errors though, right? The only situation in which we close the connection (too?) early is when there's pipelining and a subsequent request isn't even a valid HTTP request.

[2018-08-29 14:56] ianpartridge commented on #81
Yep that's right. I don't think it's essential for this specific test to use pipelining at this time.

[2018-08-29 15:24] weissi commented on #81
@ianpartridge cool, feel free to comment on https://github.com/apple/swift-nio/issues/600 and say that you want the fix to be prioritised. I'm pretty sure we could release a non-default `enableAutomaticClosingOnError: false` option to stop this from happening.

[2018-08-29 17:45] nethraravindran commented on #2
Thanks @weissi and @pushkarnk

PR https://github.com/IBM-Swift/Kitura-NIO/pull/82

[2018-08-29 17:45] #2 closed

[2018-08-29 18:48] #66 closed

[2018-09-20 16:37] nethraravindran commented on #75
@weissi Thanks for reporting this issue.
This issue doesn't exists on master. Hence closing this for now. @weissi Please reopen this if it happens again :)

[2018-09-20 16:37] #75 closed

[2018-09-24 18:28] pushkarnk commented on #55
We haven't seen this for a long time now. Closing the issue for now.

[2018-09-24 18:28] #55 closed

[2018-10-04 13:46] weissi opened #98 "PipeliningTests.testPipelining has a data race"
TSan on Swift 4.2 on macOS complains about data races in `testPipelining`:

### problem

[code]

### repro

[code]

[2018-10-05 08:28] pushkarnk commented on #98
Thanks @weissi for the bug report. Synchronising access to `keepAliveState` seems to be the only solution here.

[2018-10-15 17:44] #98 closed

[2018-10-19 15:49] weissi opened #101 "flaky test ClientE2ETests.testSimpleHTTPClient"
## failure

[code]

## OS

Ubuntu 14.04 in Docker

## code

KituraNIO hash: 214abc91b6fd51b7d2817175f0599ad120754ce6
swift-nio: 9bae007a15b49d7fe685b6b33308822c6d0536c0
swift-nio-ssl: db16c3a90b101bb53b26a58867a344ad428072e0

[code]

[2018-10-23 23:36] weissi opened #102 "TSan detected data-race in KituraNetTests.PipeliningTests testPipeliningSpanningPackets"
hashes:

[code]

on macOS

log:
[code]

[2018-10-24 15:32] pushkarnk commented on #102
@weissi Thanks for the bug report. I'm trying to reproduce the failure and curious about the packages `swift-nio-extras` and `swift-nio-http2` mentioned in your list of hashes. How did you get those packages pulled with KituraNIO? Am I missing something?

[2018-10-24 15:34] pushkarnk commented on #102
For `Kitura-NIO`, `swift-nio` and `swift-nio-ssl` I edited the packages to match the suitable revisions, but that didn't help repro.

[2018-10-24 21:50] weissi commented on #102
@pushkarnk it didn't pull them itself, I just ran the nio release tools and they check all of those repositories out. Anything in the above list that Kitura-NIO doesn't use you can safely ignore.

[2018-10-25 08:35] pushkarnk commented on #102
I'm unable to reproduce this issue. Just documenting the steps here:
[code]

[2018-10-25 08:39] pushkarnk commented on #102
Perhaps it is the `var count` [here](https://github.com/IBM-Swift/Kitura-NIO/blob/master/Tests/KituraNetTests/PipeliningTests.swift#L122) that's causing this data race.

[2018-10-29 21:20] weissi commented on #102
@pushkarnk indeed, the write is happening at line 130 which is https://github.com/IBM-Swift/Kitura-NIO/blob/214abc91b6fd51b7d2817175f0599ad120754ce6/Tests/KituraNetTests/PipeliningTests.swift#L130

[2018-11-13 10:07] pushkarnk commented on #102
fixed by #105

[2018-11-14 06:53] #102 closed

[2018-11-15 09:17] mamabusi opened #109 "Create a performance testing plan for Kitura-NIO"
As discussed and decided upon, this is the priority in terms of performance testing for Kitura-NIO:

  Measurements with microbenchmarks with Kitura-NIO vs. Kitura-net
  Measurements with the same microbenchmarks on Vapor
  Measurements with the same microbenchmarks on Express (All the above can be on Ubuntu 16.04)
  Measurements of comparing 18.04 to 16.04
  Getting TechEmpower running on Kitura-

[2018-11-15 09:18] mamabusi commented on #109
The tasks done are checked in the above task list.

Currently, working on the task item:
Measurements with the same microbenchmarks on Vapor

[2018-11-21 07:18] pushkarnk opened #110 "write errors while running the TechEmpower/Updates benchmark"
When the Updates benchmark is run with Kitura-NIO, we see some intermittent write errors:

[code]

The errors come from [here](https://github.com/IBM-Swift/Kitura-NIO/blob/master/Sources/KituraNet/HTTP/HTTPServerResponse.swift#L90) and [here](https://github.com/IBM-Swift/Kitura-NIO/blob/master/Sources/KituraNet/HTTP/HTTPServerResponse.swift#L123).

[2018-11-21 07:41] pushkarnk commented on #110
I see similar messages with Kitura-Net

[code]

[2018-11-21 07:50] pushkarnk opened #111 "implementation of HTTPServerRequest.url is sub-optimal"
The KituraNet [implementation](https://github.com/IBM-Swift/Kitura-net/blob/master/Sources/KituraNet/HTTP/HTTPServerRequest.swift#L213) of this property apparently performs much better than the Kitura-NIO [implementation](https://github.com/IBM-Swift/Kitura-NIO/blob/master/Sources/KituraNet/HTTP/HTTPServerRequest.swift#L41).

[2018-11-21 09:34] pushkarnk commented on #111
created https://github.com/IBM-Swift/Kitura-NIO/pull/112

[2018-11-21 16:00] pushkarnk commented on #111
The fix improves TechEmpower/Updates by 3% and TechEmpower/JSON by 12%

[2018-11-22 16:30] pushkarnk commented on #111
merged

[2018-11-22 16:30] #111 closed

[2018-11-26 05:33] pushkarnk opened #115 "Make the HTTPServer more configurable"
Performance tests have shown that features that may be critical for certain workloads may prove to be an overhead for others. We need to make these features optional and provide a mechanism for users to opt in. Some of the configurable features:
1. Idle socket detection and cleanup
2. HTTP pipelining
3. HTTP auto-error handling (e.g WebSocket upgrade workloads)

Secondly, performance tests have al

[2018-12-17 09:30] nethraravindran opened #119 "Build failures on Darwin with SSLService changes"
[code]

[2018-12-17 13:05] nethraravindran commented on #119
Fixed in https://github.com/IBM-Swift/BlueSSLService/pull/67 and tagged under `1.0.41`

[2018-12-17 13:05] #119 closed

[2018-12-26 06:50] pushkarnk opened #126 "Pipelining tests are flaky"
Pipelining tests seem to be failing, with a timeout, more often than earlier, on Travis. These failures aren't reproducible locally.

[2018-12-27 13:48] pushkarnk opened #128 "Add some parallel test runs to Travis"
With #103 merged it is possible to use `swift test --parallel`. We must have some runs with this option in the CI, may be one on each Ubuntu 16.04, 18.04 and macOS.

[2018-12-29 03:38] pushkarnk commented on #128
Added by #130

[2018-12-29 03:38] #128 closed

[2018-12-29 05:47] nethraravindran commented on #101
Fixed in https://github.com/IBM-Swift/Kitura-NIO/pull/131

[2018-12-29 10:21] #101 closed

[2019-01-07 16:37] pushkarnk commented on #126
Failure seen today: https://travis-ci.org/IBM-Swift/Kitura-NIO/jobs/476374145

[2019-01-07 19:02] pushkarnk commented on #109
We must probably identify a list of benchmarks which'd we'd want to run on every pull request, and post comparative numbers on the pull request. We could start with TechEmpower!

[2019-01-09 04:00] pushkarnk commented on #126
Another failure seen: https://travis-ci.org/IBM-Swift/Kitura-NIO/jobs/477017124

[2019-01-17 10:17] pushkarnk opened #150 "Building/testing against swift-nio's master"

[2019-01-18 08:49] pushkarnk commented on #150
Pushed a branch with some changes that ensure a successful build: https://github.com/IBM-Swift/Kitura-NIO/tree/development

[2019-01-18 08:56] pushkarnk commented on #150
https://travis-ci.org/IBM-Swift/Kitura-NIO/builds/481256915

[2019-01-19 09:03] pushkarnk opened #154 "regression: PR #143"
Kitura tests fail with the changes related to #143

We need to do the following:
1. Debug all Kitura failures and fix them
2. Subsequently measure performance and decide if the new changes could be acceptable

I've reverted #143 using #153

[2019-01-20 17:38] nethraravindran commented on #154
#143 caused failures in Kitura due to invalid url formed using incorrect components  `_urlComponents?.path = _urlString`
In this `_urlString` is the uri string from `requestHead` containing both path and percent encoded query. Hence it has to be split and assigned to `path` and `percentEncodedQuery` of the URLComponents respectively.

[2019-01-21 13:41] nethraravindran commented on #154
Fix: https://github.com/IBM-Swift/Kitura-NIO/pull/156

[2019-01-22 18:02] pushkarnk commented on #150
I see performance of plaintext and json benchmarks going down with Swift 5 / NIO2

**plaintext**

Client threads | 1.0.14 | Swift5-1.0.14 | Swift5(NIO master)
-- | -- | -- | --
256 | 14.77 | 13.74 | 13.77
1024 | 14.76 | 13.37 | 13.04
4096 | 14.25 | 12.7 | 12.73
16384 | 13.79 | 12.51 | 12.44

**json**

Client threads | 1.0.14 | Swift5(1.0.14) | Swift5(NIO master)
-- | -- | -- | --
8 | 6.94 | 6.35 |

[2019-01-22 18:15] weissi commented on #150
@pushkarnk please note that we haven't started optimising for Swift 5 yet and there's quite a few things where Swift 5 fastpaths aren't correctly hit yet, like:

- https://bugs.swift.org/browse/SR-9700
- https://bugs.swift.org/browse/SR-9604

So it's not too surprising that things are a big slower right now. If you do manage to pinpoint a particular slowdown in NIO with Swift 5, we'd love to hear,

[2019-01-23 18:37] pushkarnk commented on #150
Database perf tests

**db** (Swift 5 shows a dip by up to 9%)

Client threads | 1.0.14 | Swift5(1.0.14) | Swift5(NIO master)
-- | -- | -- | --
8 | 3.36 | 3.24 | 3.23
16 | 5.34 | 5.09 | 5.11
32 | 5.69 | 5.34 | 5.35
64 | 5.71 | 5.37 | 5.33
128 | 5.58 | 5.3 | 5.29
256 | 5.56 | 5.31 | 5.29

**Updates** (perf down by up to 7%)

Num queries | 1.0.14 | Swift5(1.0.14) | Swift5(NIO master)
-- | -- | -- | -

[2019-01-24 18:02] pushkarnk commented on #150
Did a comparison of flamegprahs collected against `plaintext` on `1.0.14` and `Swift 5-NIO2`.

It is the `NSString` methods that seem to be bringing down performance. Especially:
`NSString.substring(with:)` -  3 times more CPU spent (0.5% in 4.2.1 vs. 1.5% in 5)
`NSString.getCharacters(_:range)` - 2 times more CPU spent (0.17% in 4.2.1 vs. 0.35% in 5)

[2019-01-26 17:39] pushkarnk commented on #154
Merged #156. Thanks @nethraravindran

[2019-01-26 17:39] #154 closed

[2019-01-30 06:54] pushkarnk opened #161 "Port Kitura Request/Response tests to Kitura-NIO"
Kitura tests provide a better coverage, especially in catching regressions, than Kitura-net tests themselves. Some tests from Kitura could be replicated on Kitura-net.

[2019-01-30 06:57] pushkarnk opened #162 "Improve Kitura-NIO's Jazzy docs"
Kitura-NIO's docs must be identical to Kitura-net's, given that the APIs are expected to be identical. There are a lot of gaps to fill.

[2019-01-30 10:09] pushkarnk opened #163 "Swift 5 performance: remove NSString methods"
String bridging to NSString needs to be avoided on Swift 5 given the performance penalty that it currently comes with. This issue relates to the removal of all `NSString` uses (or `NSString` methods called on `String`s via bridging).

[2019-02-01 12:38] ianpartridge opened #164 "CI failures on kitura-2.6 branch"
https://travis-ci.org/IBM-Swift/Kitura/jobs/487043108

[code]

I suspect this is because https://github.com/IBM-Swift/Kitura/commit/68e98937d62d792cee733726b9eb99d31319a3ec needs backporting to the `kitura-2.6` branch.

[2019-02-04 11:42] djones6 commented on #164
This should now be resolved, see https://github.com/IBM-Swift/Kitura/issues/1398

[2019-02-04 13:51] pushkarnk commented on #161
Found two uncovered scenarios:
1. redirection
2. query parameters

Added two tests: https://github.com/IBM-Swift/Kitura-NIO/pull/165

[2019-02-05 15:42] pushkarnk commented on #163
Created https://github.com/IBM-Swift/Kitura-NIO/pull/166

[2019-02-06 09:11] pushkarnk commented on #163
`HTTP.escape()` uses `NSString.addingPercentEncoding()`. The only alternative to using this `NSString` function seems to be writing one by hand using the `String` API only, which ends up running very slowly compared to the original `NSString` method.

[2019-02-07 06:11] pushkarnk commented on #162
kicked off: https://github.com/IBM-Swift/Kitura-NIO/pull/169

[2019-02-13 09:35] #161 closed

[2019-02-13 09:40] pushkarnk commented on #163
#166 merged. Closing this for now. We'll revisit the `NSString.addingPercentEncoding()` part for Swift 5 / Kitura 3

[2019-02-13 09:40] #163 closed

[2019-02-13 09:42] pushkarnk opened #170 "Performance analysis with NIO 2"
The Kitura TechEmpower implementation needs to be updated to use the new `Kitura-CouchDB` API along with Swift 5.

[2019-02-13 09:42] pushkarnk commented on #150
Closing this. I've opened #170 to deal with the performance aspects.

[2019-02-13 09:42] #150 closed

[2019-02-25 17:05] weissi opened #173 "KituraNIO should close the connection if it receives an error in its last ChannelHandler"
In SwiftNIO it's generally a good idea that on `errorCaught`, the `Channel` should be closed to prevent leaking network connections that are in some error states. In KituraNIO this should be added to `HTTPRequestHandler` and `HTTPClientHandler`.

Why? Generally, `ChannelHandler`s fire errors in cases where they don't know how to recover themselves. If another, later `ChannelHandler` knows how to r

[2019-02-27 09:51] pushkarnk commented on #162
I've completed copying all of the new doc comments from Kitura-net, into Kitura-NIO.

[2019-02-27 09:59] #162 closed

[2019-03-07 09:40] pushkarnk commented on #81
This issue has been fixed per https://github.com/apple/swift-nio/issues/600 through https://github.com/apple/swift-nio/pull/837 and https://github.com/apple/swift-nio/pull/814

I'll close this issue now. Please reopen if this failure is seen again.

[2019-03-09 04:35] #81 closed

[2019-03-13 09:32] djones6 opened #178 "ClientRequest auth should use an Authorization header"
In https://github.com/IBM-Swift/Kitura-NIO/pull/171 we noted that currently, the username and password fields are being sent as part of the URL for basic authentication, and that they are currently not percent-escaped by the NIO client.

Rather than escaping them, I believe they should instead be sent in [an `Authorization` header](https://en.wikipedia.org/wiki/Basic_access_authentication). This w

[2019-03-13 17:41] ianpartridge opened #180 "SwiftMetrics builds with Kitura-NIO are failing"
https://travis-ci.org/RuntimeTools/SwiftMetrics/builds/505750620

[2019-03-13 17:44] ianpartridge commented on #180
See also https://travis-ci.org/IBM-Swift/Kitura-Sample/jobs/505676238 which looks like the same problem.

[2019-03-14 08:33] pushkarnk commented on #180
@ianpartridge  Sincere apologies. I prematurely tagged Kitura-NIO with some changes meant for WebSocket compression. I've deleted the tag now. Can you please re-trigger the SwiftMetrics builds? The Kitura-Sample builds seem to be passing.

[2019-03-14 08:56] ianpartridge commented on #180
Thanks, I've restarted the SwiftMetrics jobs which failed.

[2019-03-14 14:13] ianpartridge commented on #180
Builds have passed - thanks.

[2019-03-14 14:13] #180 closed

[2019-03-20 17:24] pushkarnk opened #185 "Add Unix Domain Socket support in ClientRequest"
We're considering adding client-side Unix Domain Socket support with Kitura-net and Kitura-NIO. The change is intended to be added to `ClientRequest` and , in terms of the API, it will be purely additive for the time being.

[2019-03-21 09:21] #173 closed

[2019-03-22 05:07] pushkarnk commented on #110
This is a duplicate of https://github.com/IBM-Swift/Kitura-Benchmarks/issues/16 which has been closed now.

[2019-03-22 05:07] #110 closed

[2019-03-26 05:57] pushkarnk commented on #185
Created https://github.com/IBM-Swift/Kitura-NIO/pull/187

[2019-03-27 09:22] pushkarnk opened #189 "autobahn: compression tests are failing"
Both, the 12.x.x and 13.x.x tests fail with this exception on the client side. The server side doesn't show any error symptoms:
[code]

[2019-03-27 09:22] #189 closed

[2019-04-03 18:19] #185 closed

[2019-04-03 18:33] pushkarnk opened #191 "Indicating a failed upgrade to WebSocket via `shouldUpgrade`"
The `shouldUpgrade` function passed to `NIOWebSocket.WebSocketUpgrader` is expected to return an `EventLoopFuture<HTTPHeaders?>` to indicate a successful or failed upgrade. On a successful upgrade, we return `eventLoop.makeSucceededFuture(httpHeaders)`. But on a failed upgrade (may be because the requested websocket service doesn't exist), it may make sense to return a `eventLoop.makeFailedFuture(

[2019-04-12 17:05] weissi opened #195 "possibly flaky test PipeliningTests.testPipeliningSpanningPackets"
saw this today in docker, Swift 5.0

[code]

package.resolved was

[code]

[2019-04-16 05:31] pushkarnk commented on #195
@weissi Thanks for reporting this. Was this seen on macOS or Linux?

We keep seeing this failures intermittently only in the CI (#126) and only on macOS. I've tried reproducing it locally but in vain.

[2019-04-16 08:06] ianpartridge commented on #195
Guessing this was Linux as it was under Docker and `https://github.com/IBM-Swift/OpenSSL.git` is in the mix.

[2019-04-16 10:50] weissi commented on #195
correct, docker, Linux (ubuntu 14.04)

[2019-04-26 08:22] pushkarnk commented on #170
**Plaintext**

  | NumConn | Kitura-NIO 2.0.2 | Kitura-net
-- | -- | -- | --
Affinity = 2 | 256 | 3.38 | 6.00
  | 1024 | 3.42 | 5.99
  | 4096 | 3.45 | 6.00
  | 16384 | 3.47 | 5.64
Affinity = 4 | 256 | 7.93 | 12.84
  | 1024 | 7.34 | 12.46
  | 4096 | 6.86 | 12.26
  | 16384 | 6.92 | 11.78
Affinity = 8 | 256 | 15.24 | 17.45
  | 1024 | 15.28 | 17.51
  | 4096 | 14.05 | 16.17
  | 16384 | 13.53 | 14.78
Af

[2019-04-26 08:24] pushkarnk commented on #170
** JSON **

  | NumConn | Kitura-NIO 2.0.2 | Kitura-net
-- | -- | -- | --
Affinity = 2 | 8 | 2.31 | 3.64
  | 16 | 2.34 | 3.67
  | 32 | 2.35 | 3.67
  | 64 | 2.34 | 3.79
  | 128 | 2.33 | 3.79
  | 256 | 2.38 | 3.76
Affinity = 4 | 8 | 4.34 | 6.94
  | 16 | 4.56 | 6.99
  | 32 | 4.65 | 7.00
  | 64 | 5.24 | 7.01
  | 128 | 5.37 | 6.99
  | 256 | 5.40 | 6.98
Affinity = 8 | 8 | 6.89 | 10.42
  | 16 | 8.30 | 12

[2019-04-26 08:25] pushkarnk commented on #170
**DB**

  | NumConn | Kitura-NIO 2.0.2 | Kitura-net
-- | -- | -- | --
Affinity = 2 | 8 | 1.29 | 1.51
  | 16 | 1.31 | 1.52
  | 32 | 1.32 | 1.53
  | 64 | 1.32 | 1.60
  | 128 | 1.31 | 1.70
  | 256 | 1.48 | 1.71
Affinity = 4 | 8 | 2.31 | 2.95
  | 16 | 2.45 | 3.13
  | 32 | 2.50 | 3.21
  | 64 | 2.54 | 3.30
  | 128 | 2.51 | 3.20
  | 256 | 2.52 | 3.20
Affinity = 8 | 8 | 3.19 | 3.73
  | 16 | 4.11 | 5.01
 

[2019-04-26 08:27] pushkarnk commented on #170
**Updates**

  | NumQueries | Kitura-NIO-2.0.2 | Kitura-net
-- | -- | -- | --
Affinity = 2 | 1 | 0.78 | 0.83
  | 5 | 0.46 | 0.53
  | 10 | 0.37 | 0.49
  | 15 | 0.35 | 0.47
  | 20 | 0.39 | 0.45
Affinity = 4 | 1 | 1.39 | 1.73
  | 5 | 0.77 | 0.85
  | 10 | 0.62 | 0.70
  | 15 | 0.56 | 0.63
  | 20 | 0.50 | 0.57
Affinity = 8 | 1 | 2.37 | 2.84
  | 5 | 1.28 | 1.36
  | 10 | 1.04 | 1.07
  | 15 | 0.94 | 0.97
 

[2019-04-26 08:28] pushkarnk commented on #170
**Queries**

  | NumQueries | Kitura-NIO 2.0.2(mb/s) | Kitura-net(mb/s)
-- | -- | -- | --
Affinity = 2 | 1 | 0.93 | 1.17
  | 5 | 0.74 | 0.77
  | 10 | 0.68 | 0.73
  | 15 | 0.65 | 0.69
  | 20 | 0.64 | 0.65
Affinity = 4 | 1 | 1.73 | 2.35
  | 5 | 1.30 | 1.46
  | 10 | 1.15 | 1.22
  | 15 | 1.07 | 1.13
  | 20 | 1.00 | 1.04
Affinity = 8 | 1 | 3.15 | 4.01
  | 5 | 2.05 | 2.25
  | 10 | 1.76 | 1.89
  | 15 | 1

[2019-04-29 19:22] schlingding opened #198 "Spaces in URL query parameters not parsing correctly"
When switching from KituraNet to Kitura-NIO URLs errors occur with spaces in query parameters.

A URL such as `http://www.something.com/hi/there?parameter=Hi%20There` will either throw an exception (SwiftMetrics):
[code]

OR have a Router error without Swift Metrics:
[code]

[2019-04-30 09:34] pushkarnk commented on #198
I have a possible hypothesis and fix for this problem. I want to test it with `Kitura-CouchDB`, `SwiftMetrics` and `Kitura-Sample` before creating a pull request here.

[2019-04-30 09:39] pushkarnk commented on #198
The use of `URLComponents` to build the URL in `HTTPServerRequest.urlURL` seems to be sending us into a spiral of problems. I'm planning to do away with `URLComponents` and fallback to building a URL string instead, something that we did in the past.

[2019-04-30 18:39] pushkarnk commented on #198
Submitted a pull request: https://github.com/IBM-Swift/Kitura-NIO/pull/199

[2019-05-02 19:45] pushkarnk opened #200 "Add WebSocket upgrade tests to Kitura-NIO"
Since the WebSocket upgrader is a part of the HTTPServer, we need some WebSocket upgrade tests to avoid regression.

[2019-05-22 09:18] pushkarnk opened #206 "Ability to limit incoming request size (Kitura#1384)"
Copied from https://github.com/IBM-Swift/Kitura/issues/1384

Kitura currently does not have the concept of a limit on incoming request size. It is possible to destabilize a server by sending (accidentally or maliciously) a large request payload which either impairs performance, or exhausts available memory.

A limit should be configurable on a server which causes requests above that size to be rej

[2019-05-22 09:26] pushkarnk opened #207 "Poor performance with the web-frameworks benchmark"
Kitura with Kitura-NIO seems to performs badly on the [web-frameworks benchmarks](https://github.com/the-benchmarker/web-frameworks)

Reported over slack. Copied from there:

*Language (Runtime)    Framework (Middleware)    Average    50th percentile    90th percentile    99th percentile    99.9th percentile    Standard deviation*
[code]

[2019-05-22 10:02] weissi commented on #207
@pushkarnk this looks like some kind of stall to me. On the 50th percentile (median) kitura/kitura are pretty much the same, but the standard deviation is _huge_! So either the machine that was running the tests was super busy at some point when running kitura-nio or something stalled/got stuck for a while?

[2019-05-22 10:05] weissi commented on #206
Ouch! Instead of limiting the incoming request size (which usually causes trouble when doing file uploads (ask Vapor for example)), I'd suggest implementing streaming with back-pressure. That way the maximum amount of memory can remain constant and yet you can support arbitrarily large file uploads. Of course a user of Kitura should be able to control what's too much. So in some JSON API, maybe 10

[2019-05-22 11:51] waghanza commented on #207
FYI -> `docker` is in use on above results, then metrics are not very useful (could vary by ~40% )

I'm working on https://github.com/the-benchmarker/web-frameworks/pull/632 to use an **isolated** `droplet`  and therefore to reduce `docker` **noise**

PS : If I can also have sponsored machine from IBM, I'll be happy to run `Kitura` benchmarks on :heart:

[2019-05-22 12:57] weissi commented on #207
oh docker with networking i/egress networking? Yeah, that'll give you a bunch of variance.

[2019-05-22 13:45] waghanza commented on #207
In the future, it will be on dedicated VM with a 2 GB/s link

[2019-06-05 09:18] djones6 commented on #207
FYI, we can replicate a gap between Kitura-NIO and Kitura-net, and that definitely needs investigation.  Previous investigations have shown Kitura-NIO to scale better than Kitura-net, but it's more CPU hungry so slower at lower CPU counts - we need to find out where that CPU is being burnt.

However, @helenmasters and I couldn't replicate the general slowness of Kitura vs. Vapor running the benchm

[2019-06-07 08:40] djones6 commented on #198
Fix (#199) has been tagged in `2.1.1`

[2019-06-07 08:40] #198 closed

[2019-07-08 12:53] djones6 commented on #178
We discovered that for Kitura-net, `libcurl` already handles this for us: credentials prepended to the URL are removed and sent instead as an `Authorization` header.

Need to confirm whether the same happens for Kitura-NIO.

[2019-07-10 02:59] pushkarnk opened #210 "Differences in default request headers between Kitura-NIO and Kitura-net"
I tried printing the default HTTP request headers using this simple app:
[code]

With `Kitura-net` I see:
[code]
and with `Kitura-NIO` I see:

[code]

This needs investigation.

[2019-07-10 06:48] pushkarnk opened #211 "ClientResponse.status wrongly returns -1"
Test used:

[code]

Output with `Kitura-net` (which is expected):
[code]

Output with `Kitura-NIO`:
[code]

[2019-07-10 07:19] pushkarnk opened #212 "KituraKit test failures with Kitura-NIO"
Instructions to reproduce the failure:

1. git clone `https://github.com/IBM-Swift/KituraKit`
2. cd KituraKit
3. export KITURA_NIO=1
4. swift test

A lot of tests fail on both macOS and Linux.

[2019-07-11 08:43] RudraniW commented on #206
- I have implemented the function to calculate size of the header.
- I have implemented the function which will send the status code and status description when request size exceeds the default maximum request size.
- Now I am configuring the HTTP server to set maximum request size and connections.

[2019-07-11 09:27] pushkarnk commented on #206
@djones6 We did consider writing a new channel handler to track the number of raw bytes flowing into a channel. However, if that particular connection is supporting pipelining I don't think there's any way to mark HTTP request boundaries on a raw byte stream. Data pertaining to multiple HTTP requests could be flowing in sequentially. The HTTP message boundaries are drawn only after the HTTPDecoder

[2019-07-11 09:34] pushkarnk commented on #206
Thanks for this input @weissi ! Is there an example in swift-nio for a streaming handler with backpressure? Based on my current understanding of it, I am not sure if we could fit such a handler in the current Kitura implementation, given that we invoke a router handler only after the entire HTTP request has been read and processed.

[2019-07-11 11:09] weissi commented on #206
We have a bunch of examples scattered around and I'm happy to point you to them. But right now, you're right: If Kitura expects the entire body when invoking the route handler, then you won't be able to do back-pressure because you need the whole thing in memory before you can even start processing something. Back-pressure is about slowing down the producer (eg. client sending the request body) to

[2019-07-11 14:01] ianpartridge commented on #206
I fear option 2 is not feasible while we have to maintain the same `protocol ServerRequest` between Kitura-net and Kitura-NIO. Consequences of decisions made several years ago by people no longer around 😀

[2019-07-11 15:18] weissi commented on #206
Makes sense! For Kitura 3 then :)

[2019-07-15 08:47] RudraniW commented on #206
- I have added a new test `testRequestSize` in `ClientE2ETests` to check if the request size exceeds given maximum request size.
- Now I am working on limiting maximum number of concurrent connections.

[2019-07-17 06:38] pushkarnk commented on #126
This is a duplicate of #195. Closing.

[2019-07-17 06:38] #126 closed

[2019-07-18 03:19] pushkarnk commented on #170
Closing this for now. I don't see anything pending here.

[2019-07-18 03:19] #170 closed

[2019-07-22 05:45] pushkarnk opened #216 "Close active connections on HTTPServer.stop()"
Work on https://github.com/IBM-Swift/SwiftyRequest/issues/69 revealed a basic flaw in Kitura-NIO's `HTTPServer`. On a `stop()` call to the `HTTPServer` we seem to be closing only the listening socket. The active connections aren't closed.

The connections are probably staying alive through some valid retain cycles (how this is happening needs investigation). We must close the active connections.

[2019-07-22 07:08] pushkarnk commented on #210
Fixed by #213

[2019-07-22 07:09] pushkarnk commented on #211
Fixed by #214

[2019-07-30 03:05] #216 closed

[2019-07-30 03:09] #210 closed

[2019-07-30 03:09] #211 closed

[2019-07-30 03:10] #200 closed

[2019-08-15 08:59] djones6 commented on #178
This was merged (for Kitura-NIO).

[2019-08-15 08:59] #178 closed

[2019-09-27 06:29] pushkarnk opened #223 "Study: Does the HTTP smuggling attack affect Kitura-NIO?"
We'd need to check if Kitura-NIO is vulnerable to the HTTP smuggling attack described [here](https://portswigger.net/web-security/request-smuggling).

[2019-09-28 15:04] mlilback opened #224 "Feature Request: access to EventLoopGroup"
According to documentation, an application should generally have a single EventLoopGroup. Kitura-NIO create its own group and threads, and provides no access. Performance will suffer if every library used creates its own group.

I'd like the options:
1. To create my own group, and pass it into Kitura.
2. If a group is not specified and Kitura creates one, n accessor to get that group.

[2019-09-28 17:18] weissi commented on #224
I agree, especially option 1 sounds like a good plan to me. In `async-http-client` for example there’s the [`EventLoopGroupProvider`](https://github.com/swift-server/async-http-client/blob/master/Sources/AsyncHTTPClient/HTTPClient.swift#L57) type to do this.

[2019-09-30 05:47] pushkarnk commented on #224
Sounds reasonable to me. We'd be deviating from the `Kitura-net` API, but I assume that developers who want to use NIO's types may not really consider switching over to `Kitura-net`.

Your thoughts @djones6 ?

[2019-10-02 09:20] djones6 commented on #224
I think that deviation from Kitura-net is okay in this instance.  As long as the expectation is clear that the application is then tightly coupled to Kitura-NIO, I don't see a problem with providing additional features such as this.

[2019-10-09 18:37] weissi opened #227 "Kitura-NIO calls syncShutdownGracefully of an EventLoopGroup ON an EventLoop"
Kitura-NIO calls `syncShutdownGracefully` of an EventLoopGroup ON an EventLoop. That is very prone to deadlocking because it's attempting to shut down the EventLoop the synchronous call is running on. We now built in an automatic detection because people were hitting the deadlocks.

[code]

[2019-10-10 06:29] harish1992 commented on #227
Hi @weissi, I ran the tests with Swift-NIO master but was not able reproduce the issue. Can you please provide the steps to reproduce these issues? Thanks.

[2019-10-10 08:17] weissi commented on #227
@harish1992 sorry about that, of course, here's a one line repro:

[code]

if you paste this, it'll clone a new Kitura-NIO into `/tmp`, use NIO master and run the tests, the output looks like

[code]

[2019-10-14 09:15] pushkarnk commented on #206
Merged. Closing.

[2019-10-14 09:15] #206 closed

[2019-10-17 18:47] weissi opened #228 "Consider adding TSan to the tests runner on 5.1"
Swift 5.1 on Linux now supports Thread Sanitizer (TSan). I think Kitura-NIO (and really all Kitura projects) should strongly consider adding `--sanitize=thread` to the `SWIFT_TEST_ARGS`. I see no downside in doing that.

<img width="1006" alt="Screenshot 2019-10-17 at 11 45 52 am" src="https://user-images.githubusercontent.com/624238/67038154-bbbcf780-f0d3-11e9-83aa-b19ce32c0a0b.png">

[2019-10-23 10:59] harish1992 commented on #227
@weissi This issue is fixed in PR #225

[2019-10-23 11:01] harish1992 commented on #224
Hi @mlilback, PR #225 adds this feature.

[2019-11-18 04:21] harish1992 commented on #228
Added in PR #230.

[2019-11-22 11:51] makleso6 opened #233 "clientConnectionFail not call"
Hi! I am using Kitura on iOS platform, and I find a bug:
when application perform background, after few minutes HTTPServer stop without handling error in `ServerLifecycleListener.performClientConnectionFailCallbacks`. In KituraNet without NIO callback calls properly.

[2019-11-26 05:01] #228 closed

[2019-11-26 05:01] #227 closed

[2019-11-26 05:01] #224 closed

[2020-02-18 18:37] weissi opened #235 "flaky test PipeliningTests.testPipeliningSpanningPackets"
[code]

did `swift test --disable-index-store` in docker

commit: 4d8462d2254713e00e8678d9bc63e14c536b707a

[2020-03-19 09:12] weissi opened #237 "flaky test KituraNetTests.ChannelQuiescingTests testChannelQuiescing"
invocation: `swift test --sanitize=thread --disable-index-store` on macOS, Swift 5.1.5

[code]

[2020-03-20 13:34] mbarnach commented on #237
Hi Johannes,
I can't reproduce your issue on my Mac (10.15.3 with Swift 5.1.3) but it looks like it could be a valid reason for the Kitura issue [#1501](https://github.com/IBM-Swift/Kitura/issues/1501).
Do you always have that behaviour?
I've tried with the version of NIO in KITURA-NIO and also with the latest release from Apple.

[2020-09-15 12:11] Davidde94 opened #241 "HTTPRequestHandler incorrectly manages the channel lifecycle."
In summary, the connection limiting issues are caused by these lines of code inside `HTTPRequestHandler`:

[code]

This method doesn't belong to `ChannelInboundHandler`, and so NIO doesn't call it automatically. The fix is very simple, to remove the `httpServer` argument and use the locally-stored reference.

The connection limiting as a whole is a little questionable, but I'll address that in a s

[2020-09-15 12:16] Davidde94 opened #242 "Connection limiting doesn't do what it says."
If I create a HTTPServer with a connection limit of 2, then I would expect only 2 connections to be made. However, the current implementation allows essentially an unlimited number of connections, subject only to OS limits.

This appears to be because the connection limit logic occurs inside HTTPRequestHandler, an `InboundChannelHandler`. By definition, the connection *must* exist for the executio

[2020-09-15 12:24] Davidde94 commented on #241
Ah, my colleague just found that someone has already addressed this in a commit:
https://github.com/IBM-Swift/Kitura-NIO/commit/6fe04a0d84bb3dd13cc923ef3ea7b98b248fe7c9

[2020-09-28 11:02] mbarnach commented on #242
Thanks for your comments @Davidde94 !
Is this [PR](https://github.com/Kitura/Kitura-NIO/pull/244) what you mentioned by moving it to the start of the logic?
An additional question: is `channelInactive` called when I close the connection?
Eg. do I need to decrease manually the counter everywhere `context.close()` is called or is it automatic?

Thanks.

[2020-09-30 12:30] Davidde94 commented on #242
@mbarnach that's right! `channelInactive` will be called automatically

[2020-09-30 12:37] mbarnach commented on #242
Thanks! Then, I think the PR should be OK.

[2020-11-26 08:58] mbarnach opened #247 "Complete documentation"
Numerous fields are undocumented: see `docs/undocumented.json`.
In order to have a high standard framework, we should complete the documentation.

[2020-11-30 13:51] makleso6 commented on #233
@dannys42 still actual

[2021-03-15 08:20] mbarnach opened #249 "Ensure Kitura tests are run"
While fixing the tests for Kitura-NIO, the Kitura (server) tests have to be shutdown.
This ticket is to remember to re-activate them once the Kitura tests have been updated with these one (see PR #248 ).

[2021-04-02 01:12] dannys42 opened #250 "Possible internal improvements"
* Look into more uniform handling of HTTP/HTTPS vs UnixDomainSockets
* Have a better way of determining "standard" ports
* Perhaps use /etc/services file to determine port for scheme

(see discussion https://github.com/Kitura/Kitura-NIO/pull/248)